<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div align="center">
    <head2>Сохранение нового пользователя</head2>
    <form action="save" method="post" th:object="${user}">
        <table border="1" cellpadding="6">
            <tr>
                <td>Имя</td>
                <td><label>
                    <input type="text" th:field="*{name}"/>
                </label></td>
            </tr>
            <tr>
                <td>Фамилия</td>
                <td><label>
                    <input type="text" th:field="*{lastName}"/>
                </label></td>
            </tr>
            <tr>
                <td>Возраст</td>
                <td><label>
                    <input type="number" th:field="*{age}"/>
                </label></td>
            </tr>
            <tr>
                <td>Номер телефона</td>
                <td><label>
                    <input type="number" th:field="*{phoneNumber}"/>
                </label></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><label>
                    <input type="text" th:field="*{email}"/>
                </label></td>
            </tr>
            <tr>
                <td colspan="10"><input type="submit" value="Сохранить"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
